.footer-logo {
	max-height: 8rem;
	margin: 0 auto;
	opacity: 0.5;
}
.footer-copyright {
	clear: both;
}
footer.page-footer {
	margin-top: 0;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('../../img/fresh_snow.png');
		opacity: 0.1;
		z-index: 1;
	}
}
.page-footer .container .row {
	height: inherit;
}
.page-footer .container .row .col {
	height: inherit;
}

@media only screen and (min-width: 992px) {
	.page-footer .container {
		height: 25rem;
	}
	.footer-logo {
		max-height: 15rem;
	}
}