body, .fullscreen, #intro, #intro .parallax-container {
	display: flex;
	min-height: 100vh;
	max-height: 100vh;
	flex-direction: column;
}

#intro {
	h5 {
		position: absolute;
		width: 100%;
		bottom: 5rem;
		left: 0;
		text-align: center;
		@media #{$small-and-down} {
			bottom: 15%;
		}
	}
}

main {
	.section {
		&:first-child {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

.page-block {
	&:nth-child(odd) {
		@extend .blue-grey, .darken-4, .blue-grey-text, .text-lighten-5;
		position: relative;
		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: url('../../img/fresh_snow.png');
			opacity: 0.1;
			& + .container {
				position: relative;
				z-index: 1;
			}
		}
	}
}

.page-section {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

#thanks {
	.container {
		position: absolute;
		top: 50%;
		width: 100%;
		max-width: none;
		text-align: center;
	}
}

.container {
	max-width: 1100px;
}

